/* src/components/Credits/Credits.module.scss */

.credits {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-list {
    position: absolute;
    top: 100%;
  }

  &-copyright-text {
    position: absolute;
    right: 40px;
    bottom: 25px;
    width: 390px;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
    color: #20c81c;
  }
}

.credit {
  &-section {
    margin-bottom: 70px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow:
      -1px -1px 1px #000,
      1px -1px 1px #000,
      -1px 1px 1px #000,
      1px 1px 1px #000;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-extra-title {
    margin-bottom: 10px;
    font-size: 22px;
  }

  &-title,
  &-text {
    font-size: 26px;
  }

  &-title {
    margin-bottom: 5px;
    color: #efba21;
  }

  &-text {
    display: flex;
    flex-direction: column;
    color: #ffe794;
  }
}
