@use "_reset.scss";
@use "_fonts.scss" as fnt;
@use "_mixins.scss" as mx;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  cursor: url("@cursors/cursor-normal.png"), auto;
  @include fnt.Century("Century Normal Fix", 800, normal);
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.25;
  text-shadow: 2px 1px 1px #000;
  color: #f9f2da;
}

#root {
  height: 100%;
}

.main-container {
  @include mx.full-flex-height-container;
  padding: 80px;
  background-image: url("@images/brown-leather-bg.png");
  @include mx.border(blue);
  //border-image: url("@images/game-border.png") 48 fill / 48px / 0;
}

@media (max-height: 600px) {
  #root {
    height: auto;
    min-height: 100%;
  }

  .main-container {
    align-items: flex-start;
  }
}
