/* src/components/MenuSidebar/MenuSidebar.module.scss */
.menu {
  --width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: 100%;
}

@media (min-width: 850px) and (min-height: 660px) {
  .menu {
    --width: 170px;
  }
}

@media (min-width: 950px) and (min-height: 750px) {
  .menu {
    --width: 200px;
  }
}

@media (min-width: 1100px) and (min-height: 860px) {
  .menu {
    --width: 250px;
  }
}

@media (min-width: 1340px) and (min-height: 1040px) {
  .menu {
    --width: 280px;
  }
}
