/* src/components/MenuSidebar/MenuSidebar.module.scss */
@use "@styles/_mixins.scss" as mx;

.menu {
  --width: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: 100%;
}

@include mx.menu-media-query(".menu");
