/* src/components/MenuSidebarItem/MenuSidebarItem.module.scss */

/**
 * The `menuItem` mixin generates styles for a menu item's background image and hover state.
 * Replaces the placeholder in the URL with the provided color to load the correct border image.
 * This mixin dynamically sets the background image based on the type and language,
 * and applies a hover effect to change the background image.
 * Additionally, when the item is active and hovered, it applies a slight transform for a visual effect.
 *
 * Parameters:
 * - $item: Specifies the name of menu item
 */
@mixin menuItem($item) {
  &--#{$item} {
    background-image: url("@images/menu/#{$item}-normal.png");

    &--pressed,
    &:hover {
      background-image: url("@images/menu/#{$item}-hover.png");
    }

    &:active {
      &:hover {
        transform: translate(3px, 5px);
      }
    }
  }
}

.menu-item {
  display: block;
  width: 100%;
  height: 20%;
  background-position: center;
  background-size: cover;

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include menuItem("new-game-en");
  @include menuItem("load-game-en");
  @include menuItem("scores-en");
  @include menuItem("credits-en");
  @include menuItem("quit-en");
  @include menuItem("single-scenario-en");
  @include menuItem("multi-player-en");
  @include menuItem("campaign-en");
  @include menuItem("tutorial-en");
  @include menuItem("back-en");

  @include menuItem("new-game-uk");
  @include menuItem("load-game-uk");
  @include menuItem("scores-uk");
  @include menuItem("credits-uk");
  @include menuItem("quit-uk");
  @include menuItem("single-scenario-uk");
  @include menuItem("multi-player-uk");
  @include menuItem("campaign-uk");
  @include menuItem("tutorial-uk");
  @include menuItem("back-uk");
}
