/* src/layout/Scores/Scores.module.scss */

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("@images/blue-leather-bg.png");
}
